doctype html
html
  head
    title Filler Game
    link(rel='stylesheet', href='main.css')
  body
    .center
      p.shift-up#mycolor Your color:#{' '}
        span#mycolor-icon
      canvas#grid(height=300, width=300)
      p.shift-down.invisible#inactive-bar Awaiting&hellip;#{' '}
        span#inactive-counter
    script(src='index.js')
