body
  position relative
  background url(backdrop.jpg) center center /cover fixed black

.center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, 50%)

#mycolor
  display none

p
  color white
  font-size 2em

p.shift-up
  margin-top -1em
